*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --skin: skyblue;
    --purple-light: #531253;
}

body{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size: 22px;
}


.imagen-bienvenida{
    display: grid;
    grid-template-columns: 1f;
}

.imagen-bienvenida img{
    width:100%
}
.subtitulo {
	font-size: 20px;
	color: var(--purple-light);
	font-family: 'Noto Serif', serif;
	font-weight: 700;
	z-index: 2;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.subtitulo span {
	background-color: rgb(206, 202, 202);
	padding: 0 15px;
	z-index: 99;
	position: relative;
}

.subtitulo::after {
	content: "";
	display: inline-block;
	height: 2px;
	width: 100%;
	background: var(--purple-light);
	position: relative;
	top: -29px;
	z-index: 1;
}
/* menunav */
.menu{
    background-color: var(--skin);
    position: sticky;
    top: 0;
    width: 100%;
    padding: 5px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    font-family: 'Noto Serif', serif;
    font-style: italic;

}

.menu a{
    display: inline-block;
    padding: 10px 30px;
    font-size: 25px;
    background-color: var(--skin);
    margin: 0 10px;
    transition: .5s ease all;
    color: white;
    text-decoration: none !important;
}

.menu a:hover{
    transform: translateY(18px);
    background-color: gold;
    color: var(--purple-light);
}
.fa-pied-piper-pp{
font-size: 40px;
}

/* productos */

.productos{
    background-color: rgb(206, 202, 202);
    padding: 20px;
    margin-bottom: 60px;
    margin-top: 60px;
}

.productos .titulo{
    width: 70%;
    font-size: 44px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 50px;
}

.productos .producto{
    position: relative;
    width: 100%;
}

.productos .overlay{
    height: 100%;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--skin);
    overflow: hidden;
    transition: .5s ease;
}

.productos .producto:hover .overlay{
    width: 100%;
    opacity: .8;
}

.productos .producto .overlay-texto{
    top: 50%;
    left: 50%;
    position: absolute;
    white-space:nowrap;
    color: white;
    font-weight: 700;
    font-size: 20px;
    transform: translate(-50%,-50%);
    overflow: hidden;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
}



.contacto {
	margin-bottom: 60px;
}

.redes-sociales{
    padding: 10px;
    background-color: gray;
}

.redes-sociales img{
    padding: 5px;
    border-radius: 100%;
    width: 50px;
    transition: .3s ease all;
}

.redes-sociales img:hover{
    transform: scale(1,2);
}
@media screen and (max-width: 800px) {
    p{
        font-size: 15px;
    }
    .contenido-header{
        font-size: 40px;
    }

    .menu a{
        font-size: 20px;
    }
}

/* Styles form */


.formularioo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 95%;
    margin: auto;
    border: purple solid 2px;
    border-radius: 5px;
    background-color: rgb(206, 202, 202);
    margin-bottom: 20px;
    }
.formulario__label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}
.formulario__grupo-input{
    position: relative;
}
.formulario__input{
    width: 100%;
    border: 3px solid black;
    border-radius: 5px;
    height: 20px;
    line-height: 20px;
}
.formulario__input:focus{
    border: 3px solid purple;
    box-shadow: 3px 0 20px var(--skin);
    outline: none;
}
.formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}
.formulario__input-error-activo{
    display: block;
}
.formulario__validacion-estado{
    position: absolute;
    z-index: 200;
    font-size: 16px;
    right: 5px;
    bottom: 7px;
    color: black;
    opacity: 0;
}
.formulario__checkbox{
    margin-right: 10px;
}
.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar{
    grid-column: span 2;
}
.formulario__mensaje{
    height: 45px;
    line-height: 45px;
    background: var(--skin) !important;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}
.formulario__mensaje-activo{
    display: block;
}
.formulario__grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
.formulario__btn{
    background: var(--purple-light);
    color: white;
    height: 45px;
    line-height: 45%;
    width: 30%;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.formulario__btn:hover{
    box-shadow: 3px 0px 30px var(--skin)
}
.formulario__mensaje-exito{
    font-size: 20px;
    color: #119200;
    display: none;
}
.formulario__mensaje-exito-activo{
    display: block;
}
.formulario__grupo-correcto
.formulario__validacion-estado{
    color: #1ed12d;
    opacity: 1;
}
.formulario__grupo-incorrecto
.formulario__label{
    color: red;
}
.formulario__grupo-incorrecto
.formulario__validacion-estado{
    color: red;
    opacity: 1;
}

.formm{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    }

.register{
    margin: auto;
    display: flex;
    color:purple
    }


@media screen and (max-width: 800px) {
    .formularioo{
        grid-template-columns: 1fr;
    }

    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar{
    grid-column: span 1;
}
}