*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --skin: skyblue;
    --purple-light: #531253;
}

body{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size: 22px;
}

.subtitulo {
	font-size: 20px;
	color: var(--purple-light);
	font-family: 'Noto Serif', serif;
	font-weight: 700;
	z-index: 2;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.subtitulo span {
	background-color: rgb(206, 202, 202);
	padding: 0 15px;
	z-index: 99;
	position: relative;
}

.subtitulo::after {
	content: "";
	display: inline-block;
	height: 2px;
	width: 100%;
	background: var(--purple-light);
	position: relative;
	top: -29px;
	z-index: 1;
}
/* menunav */
.menu{
    background-color: var(--skin);
    position: sticky;
    top: 0;
    width: 100%;
    padding: 5px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    font-family: 'Noto Serif', serif;
    font-style: italic;

}

.menu a{
    display: inline-block;
    padding: 10px 30px;
    font-size: 25px;
    background-color: var(--skin);
    margin: 0 10px;
    transition: .5s ease all;
    color: white;
    text-decoration: none !important;
}

.menu a:hover{
    transform: translateY(18px);
    background-color: gold;
    color: var(--purple-light);
}
.fa-pied-piper-pp{
font-size: 40px;
}

/* productos */

.productos{
    background-color: rgb(206, 202, 202);
    padding: 20px;
    margin-bottom: 60px;
    margin-top: 60px;
}

.productos .titulo{
    width: 70%;
    font-size: 44px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 50px;
}

.productos .producto{
    position: relative;
    width: 100%;
}

.productos .overlay{
    height: 100%;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--skin);
    overflow: hidden;
    transition: .5s ease;
    
}

.productos .producto:hover .overlay{
    width: 100%;
    opacity: .8;
}

.productos .producto .overlay-texto{
    top: 50%;
    left: 50%;
    position: absolute;
    white-space:nowrap;
    color: white;
    font-weight: 700;
    font-size: 15px;
    transform: translate(-50%,-50%);
    overflow: hidden;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contacto {
	margin-bottom: 60px;
}

.redes-sociales{
    padding: 10px;
    background-color: gray;
}

.redes-sociales img{
    padding: 5px;
    border-radius: 100%;
    width: 50px;
    transition: .3s ease all;
}

.redes-sociales img:hover{
    transform: scale(1,2);
}
@media screen and (max-width: 800px) {
    p{
        font-size: 15px;
    }
    .contenido-header{
        font-size: 40px;
    }

    .menu a{
        font-size: 20px;
    }
}
